.sign-head {
    text-align: center;
    font-size: 3pc;
}

.header-sin-sout {
    background-color: rgb(243, 153, 153) !important;
    background-image: linear-gradient(360deg, rgb(119, 170, 228), rgb(252, 52, 52));
    height: auto;
}

.card-signin-signup {
    box-shadow: 3px 10px 15px 9px rgba(8, 228, 144, 0.5);
}