.shipping-line>div {
    border-bottom: 0.2rem solid rgb(226, 214, 214);
    color: rgb(226, 214, 214);
}

.shipping-line>div.active {
    border-bottom: 0.2rem solid rgb(248, 149, 56);
    color: rgb(248, 149, 56);
    font-weight: 700;
}